.carousel-background{
    background-color: var(--background-gray-color);
    width: 100vw;
    height: 500px;
    
    
}
.carousel-track-container{
    display: flex;
    display: flex;
    align-items: center;
    
    
}
.slick-slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.slick-arrow{
    height: 30px;
    position: absolute;
    top:50%;
    z-index: 2;
}
.slick-next{
    right: 5%;
    background-image: url('../../assets/arrow-down.svg');
    transform:rotate(270deg);
    cursor: pointer;
}

.slick-prev{
    left: 5%;
    background-image: url('../../assets/arrow-down.svg');
    transform:rotate(90deg);
    cursor: pointer;
}
.slick-list{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.slick-track{
    display: flex;
    align-items: center;
    
}
.carousel-slide-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.flex-container{
    margin-bottom: 100px;
}

@media only screen and (max-width:980px){
    
    .slick-arrow{
        height: 30px;
        position: absolute;
        top:80%;
        z-index: 2;
    }
    .slick-next{
        right: 40%;
        background-image: url('../../assets/arrow-down.svg');
        transform:rotate(270deg);
        cursor: pointer;
        
    }
    
    .slick-prev{
        left: 40%;
    }
    .flex-container{
        margin-bottom: 150px;
    }
    
}
