.mobile-banner{
    display: none;
}

.carousel{
    height:110vh;
    width: 100vw;
    background-color: var(--primmary-color);
    background-color: var(--background-gray-color);;
}
.carousel-image{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
}
.slick-slider{
    display: flex;
    flex-direction: column;
}
.slick-list{
    width: 100%;
    height: 85vh;
}
.button{
    width: 60px;
    height:60px;
    border-radius: 50%;
    margin: 0 30px;
    margin-top:50px;
    margin-bottom:20px;
    border: solid 8px var(--border-gray-color);
}
li.slick-active .button{
    
        width: 60px;
        height:60px;
        border: solid 8px var(--white-color);
        z-index:3;           
        background:var(--strong-green-color);
        cursor:pointer;
        outline: none,
    
}
.carousel-track-container{
    height:100%;
    width: 100%;
    position:relative;
    overflow: hidden;
    display: flex;
    justify-items: center;
    align-items: center;
}


.carousel-indicator.current-slide{
    border: solid 8px var(--white-color);
    background-color: var(--weak-green-color);
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
    h1{
        font-weight: bold;
        font-size: 40pt;
        text-transform: uppercase;
        color:var(--weak-green-color);
        margin-top: 10px;    
    }

    p{
        font-weight: bold;
        font-size: 20pt;
        color:var(--strong-green-color);
        margin-bottom: 20px;
        overflow-x: hidden;
    }
    img{
        fill:var(--black-color);
        width: 55px;
        height: 80px;
    }
}


@media only screen and (max-width:1180px){
    .mobile-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100vw;
        height: 20vh;
        background-color: var(--background-gray-color);
        color:var(--white-color)
    }
    .mobile-banner h1 {
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .container h1, .container p {
        display: none;
    }
    .carousel{
        height: 70vh;
    }
    .carousel-image{
        background-size: 100% 70%;
    }
    .carousel-nav{
        width: 100%;
        padding: 10px 0;
        margin: -70px 0;
    }
    .carousel-slide-grid{
        width: 100%;
    }
}
// style={{
//     width:'100%',
//     height:'15vh',
//     background:'rgba(52,52,52,0.7)',
//     display:'flex',
//     marginTop:'-7.5vh',
//     alignItems:'center',
//     justifyContent:'center',
//     zIndex:3,
//     cursor:'pointer'